:root {
	--black:          #000000;
	--smoky-black:    #100c08;
	--tungsten:       #f6b008;
	--tungsten-dark:  #e5a200;
	--tungsten-brown: #b78100;
	--clayish:        #a07100;
	--mulberry-dyed:  #c57f2e;
}

* {
	color: var(--tungsten);
	background-color: var(--black);
}

body {
	color: var(--tungsten);
	background-color: var(--black);
}

code {
	color: var(--tungsten-dark);
	background-color: var(--smoky-black);
	font-size: 12px;
	font-style: italic;
	width: fit-content;
	white-space: pre;
	display: block;
	padding: 5px;
}

var {
	color: var(--tungsten-dark);
	font-style: italic;
	font-size: 12px;
	white-space: pre;
}

a {
	color: var(--tungsten-dark);
	text-decoration: none;
}

a:hover {
	color: var(--tungsten-brown);
	text-decoration: underline;
}

a:active {
	color: var(--clay);
	text-decoration: none;
}

a:visited {
	color: var(--mulberry-dyed);
	text-decoration: underline;
}

.grid-container {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
}

.tree-column {
	color: var(--tungsten);
	font-size: 14px;
	margin-left: 10px;
	margin-right: 50px;
}
